/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/03/2015, 11:37:31
    Author     : Stefano
*/
@font-face {
    font-family: Grandam;
    src: url(../font/Grandam.ttf);
}
@font-face {
    font-family: Segoe;
    src: url(../font/segoeuil.ttf);
}
body{
    text-align: justify;
}
.logo{
    width: 60%;
    height: 60%;
    margin-bottom: 15px;
}

.meu-pescado{
    font-family: Grandam;
    font-size: 1.5em;
    font-weight: bold;
}
.right input{
    padding-right: 2px;
}

input[type=submit]{
    border: 1px #11639d solid;
}
